[Desktop Entry]
Version=1.0
Type=Application
Name=BB2Scope
Comment=BB2Scope oscilloscope
Exec=/home/hamzah/.local/share/icons/bb2scope.png
Icon=bb2scope
Terminal=false
Categories=Utility;Electronics;
StartupNotify=true
