[Desktop Entry]
Version=1.0
Type=Application
Name=Orion Jr 2 Utility
Comment=Orion Jr BMS configuration utility
Exec=orionjr
Icon=/home/hamzah/.local/share/icons/orionjr.png
Terminal=false
Categories=Utility;Electronics;
StartupNotify=true
