[Desktop Entry]
Type=Application
Name=Quartus Prime Lite
Comment=FPGA design and development environment
Exec=quartus
Icon=/home/hamzah/.local/opt/altera/25.1/quartus/adm/quartusii.png
Categories=Development;Electronics;
StartupNotify=true
