[Desktop Entry]
Type=Application
Name=Questa Altera FPGA Starter Edition
Comment=HDL simulation and debugging environment
Exec=vsim
Icon=questa
Categories=Development;Electronics;
StartupNotify=true
