[Desktop Entry]
Name=STM32CubeMX
Comment=STM32CubeMX Interpreter
Type=Application
Icon=/home/hamzah/.local/opt/STM32CubeMX/help/STM32CubeMX.png
Exec=stm32cubemx
