[Desktop Entry]
Version=1.0
Name=Quartus Prime Lite
Comment=Quartus Prime Lite design software for Intel FPGAs
Exec=quartus --64bit
Icon=/opt/intelFPGA/25.1/quartus/adm/quartusii.png
Terminal=false
Type=Application
Categories=Development
