[Unit]
Description=Hourly Taskwarrior due notification

[Timer]
OnCalendar=hourly
Persistent=true
RandomizedDelaySec=5m

[Install]
WantedBy=timers.target
